---
---

<!-- Trust Bar -->
<div class="flex flex-wrap justify-center lg:justify-start gap-y-4 gap-x-8 text-sm font-medium text-gray-400">
	<span class="flex items-center gap-2">
		<iconify-icon icon="solar:verified-check-linear" class="text-amber"></iconify-icon>
		B100 Licensed
	</span>
	<span class="flex items-center gap-2">
		<iconify-icon icon="solar:shield-check-linear" class="text-amber"></iconify-icon>
		Fully Insured
	</span>
	<span class="flex items-center gap-2">
		<iconify-icon icon="solar:medal-ribbon-linear" class="text-amber"></iconify-icon>
		Asbestos Certified
	</span>
	<span class="flex items-center gap-2">
		<iconify-icon icon="solar:home-smile-linear" class="text-amber"></iconify-icon>
		Locally Owned
	</span>
</div>
